<div class="modal modal-dialog-centered fade st_pop_form_wrapper" id="modalBook" role="dialog">
  <div class="modal-dialog cus-modal-book">
    <div class="modal-body">
      <div class="modal-content">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <div class="showtime" data-value="<%= movieId %>">
        <div class="st_slider_rating_main_wrapper float_left">
          <div class="container-fluid">
            <div class="st_calender_tabs">
              <ul class="nav nav-tabs">
                <% if(listDate.length == 0) {%>
                  <li class="active">
                    <a class="date-showtime" data-toggle="tab" href="#home" data-value="">
                      <span style="text-transform: uppercase;">-</span>
                      <br>-
                    </a>
                  </li>
                <% } %>
                <% listDate.forEach(function(date) { %>
                <li class="<%= listDate[0]==date?"active":"nav-item" %>">
                  <a class="date-showtime" data-toggle="tab" href="#home" data-value="<%= date %>">
                    <span style="text-transform: uppercase;"><%= moment(date).format("ddd"); %></span>
                    <br> <%= moment(date).format("DD/MM"); %>
                  </a>
                </li>
                <% }); %>
              </ul>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="st_indx_slider_main_container float_left">
              <div class="row">
                <div class="col-md-12">
                  <div class="tab-content">
                    <div id="home" class="tab-pane active">
                      <div class="st_calender_contant_main_wrapper float_left">
                        <% if(cinemas.length == 0) {%>
                          <p>Hiện tại phim này chưa có xuất chiếu</p>
                        <% } %>
                        <% cinemas.forEach(function(cinema)  { %>
                        <div class="st_calender_row_cont st_calender_row_cont2 float_left">
                          <div class="st_calender_asc">
                            <div class="st_calen_asc_heart_cont">
                              <h3><%= cinema.name %></h3>
                            </div>
                          </div>
                          <div class="st_calen_asc_tecket_time_select">
                            <ul>
                              <% cinema.Rooms.forEach(function(room)  { %>
                                <% room.Showtimes.forEach(function(showtime)  { %>
                              <li>
                                <span>
                                  <h4><%= showtime.price %> $</h4>
                                  <p class="asc_pera1">Rạp</p>
                                  <p class="asc_pera2"><%= room.name %> | <%= room.Typeroom.type %></p>
                                </span>
                                <a class="booking-seat" href="/booking/seat?showtime=<%=showtime.uuid%>"><%= moment(showtime.timeStart).format("LT") %> </a>
                              </li>
                                <% }); %>
                              <% }); %> 
                            </ul>
                          </div>
                        </div>
                        <% }); %> 
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</div>