<!DOCTYPE html>
<!-- 
Template Name: Movie Pro
Version: 1.0.0
Author: Webstrot

-->
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!-->
<html lang="zxx">
<!--[endif]-->

<head>
	<meta charset="utf-8" />
	<title>Movie Pro Responsive HTML Template</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<meta name="description" content="Movie Pro" />
	<meta name="keywords" content="Movie Pro" />
	<meta name="author" content="" />
	<meta name="MobileOptimized" content="320" />
	<!--Template style -->
	<link rel="stylesheet" type="text/css" href="/public/css/animate.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/bootstrap.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/font-awesome.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/flaticon.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/owl.carousel.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/owl.theme.default.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/dl-menu.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/nice-select.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/magnific-popup.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/venobox/venobox.css" />
	<link rel="stylesheet" type="text/css" href="/public/js/plugin/rs_slider/layers.css" />
	<link rel="stylesheet" type="text/css" href="/public/js/plugin/rs_slider/navigation.css" />
	<link rel="stylesheet" type="text/css" href="/public/js/plugin/rs_slider/settings.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/style.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/style4.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/responsive4.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/responsive.css" />
	<link rel="stylesheet" type="text/css" href="/public/css/dev.css" />

	<link rel="stylesheet" id="theme-color" type="text/css" href="#"/>
	<!-- favicon links -->
	<link rel="shortcut icon" type="image/png" href="/public/images//header/favicon.ico" />
</head>

<body>
	<!-- preloader Start -->
	<%- include('../partials/preloader.ejs') %>
	<!-- preloader end --> 

	<!-- prs navigation Start -->
	<%- include('../partials/navigation.ejs') %>
	<!-- prs navigation End -->

	<!-- prs upcomung Slider Start -->
	<%- body %>
	<!-- prs upcomung Slider End -->

	<!-- prs footer Wrapper Start -->
	<%- include('../partials/footer.ejs') %>
	<!-- prs footer Wrapper End -->

	<!-- st login wrapper Start -->
	<div class="modal fade st_pop_form_wrapper" id="myModal" role="dialog">
		<div class="modal-dialog modal-dialog-scrollable">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="st_pop_form_heading_wrapper float_left">
					<h3>Đăng nhập</h3>
				</div>
				<div class="st_profile_input float_left">
					<label>Email</label>
					<input type="text">
				</div>
				<div class="st_profile_input st_profile__pass_input st_profile__pass_input_pop float_left">
					<label>Mật khẩu</label>
					<input type="password">
				</div>
				<div class="st_form_pop_fp float_left">
					<h3><a href="#" data-toggle="modal" data-target="#myModa2" target="_blank">Quên mật khẩu?</a></h3>
				</div>
				<div class="st_form_pop_login_btn float_left">	<a href="page-1-7_profile_settings.html">ĐĂNG NHẬP</a>
				</div>
				<div class="st_form_pop_or_btn float_left">
					<h4>or</h4>
				</div>
				<div class="st_form_pop_facebook_btn float_left">	<a href="#"><i class="fa fa-facebook"></i>Đăng nhập bằng Facebook</a>
				</div>
				<div class="st_form_pop_gmail_btn float_left">	<a href="#"><i class="fa fa-google"></i>Đăng nhập bằng Google</a>
				</div>
				<div class="st_form_pop_signin_btn float_left">
					<h4>Bạn chưa có tài khoản? <a href="#" data-toggle="modal" data-target="#myModa3" target="_blank">Đăng ký</a></h4>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade st_pop_form_wrapper" id="myModa2" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="st_pop_form_heading_wrapper st_pop_form_heading_wrapper_fpass float_left">
					<h3>Forgot Password</h3>
					<p>We can help! All you need to do is enter your email ID and follow the instructions!</p>
				</div>
				<div class="st_profile_input float_left">
					<label>Email Address</label>
					<input type="text">
				</div>
				<div class="st_form_pop_fpass_btn float_left">	<a href="#">Verify</a>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade st_pop_form_wrapper" id="myModa3" role="dialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<form action="" method="post">
					<div class="st_pop_form_heading_wrapper float_left">
						<h3>Đăng Ký</h3>
					</div>
					<div class="st_profile_input float_left">
						<label>Họ tên</label>
						<input type="text">
					</div>
					<div class="st_profile_input float_left">
						<label>Email</label>
						<input type="text">
					</div>
					<div class="st_profile_input float_left">
						<label>Số điện thoại</label>
						<input type="text">
					</div>
					<div class="st_profile_input">
						<label>Mật khẩu</label>
						<input type="password">
					</div>
					<div class="st_form_pop_login_btn float_left">	<a href="page-1-7_profile_settings.html">ĐĂNG NHẬP</a>
					</div>
					<div class="st_form_pop_or_btn float_left">
						<h4>or</h4>
					</div>
					<div class="st_form_pop_facebook_btn float_left">	<a href="#"><i class="fa fa-facebook"></i>Đăng nhập bằng Facebook</a>
					</div>
					<div class="st_form_pop_gmail_btn float_left">	<a href="#"><i class="fa fa-google"></i>Đăng nhập bằng Google</a>
					</div>
				</form>
			</div>
		</div>
	</div>
	<div class="modal modal-dialog-centered fade st_pop_form_wrapper" id="modalBook" role="dialog">
		<div class="modal-dialog cus-modal-book">
			<div class="modal-body">
				<div class="modal-content">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<div class="st_slider_rating_main_wrapper float_left">
					<div class="container-fluid">
						<div class="st_calender_tabs">
							<ul class="nav nav-tabs">
								<li class="active"> <a data-toggle="tab" href="#home"><span>WED</span> <br> 19</a>
								</li>
								<li class="nav-item">
									<a data-toggle="tab" href="#menu1"> <span>THU</span> 
										<br>20</a>
								</li>
								<li>
									<a data-toggle="tab" href="#menu2"> <span>FRI</span> 
										<br>21</a>
								</li>
								<li>
									<a data-toggle="tab" href="#menu3"> <span>SAT</span> 
										<br>22</a>
								</li>
								<li>
									<a data-toggle="tab" href="#menu4"> <span>SUN</span> 
										<br>23</a>
								</li>
							</ul>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="st_indx_slider_main_container float_left">
							<div class="row">
								<div class="col-md-12">
									<div class="tab-content">
										<div id="home" class="tab-pane active">
											<div class="st_calender_contant_main_wrapper float_left">
												<div class="st_calender_row_cont float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Ariesplex SL Cinemas</h3>
															<ul>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
																<li>
																	<img src="/public/images/content/bill.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">10:00 PM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Carnival: Artech Mall,<br> 
		Trivandrum</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
																<li>
																	<img src="/public/images/content/bill.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Carnival: Greenfield, <br>
		Trivandrum</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
														<p class="asc_bottom_pera">Cancellation Available</p>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Carnival: Mall Of Travancore
		(Red Carpet)</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Dhanya Remya: Trivandrum</h3>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>JV Cinemas: Kattakkada</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
														<p class="asc_bottom_pera">Cancellation Available</p>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>MT Cineplex 4K Dolby 
		ATMOS: Pothencode</h3>
															<ul>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
														<p class="asc_bottom_pera">Cancellation Available</p>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>SPI: Kripa Cinemas - 
		Mahathma Gandhi Road</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 st_calender_row_cont_last float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Ganga Cine house
		4K Dolby Atmos: Attingal</h3>
															<ul>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
														<p class="asc_bottom_pera">Cancellation Available</p>
													</div>
												</div>
											</div>
										</div>
										<div id="menu1" class="tab-pane fade">
											<div class="st_calender_contant_main_wrapper float_left">
												<div class="st_calender_row_cont float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Ariesplex SL Cinemas</h3>
															<ul>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
																<li>
																	<img src="/public/images/content/bill.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">10:00 PM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Carnival: Artech Mall,<br> 
		Trivandrum</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
																<li>
																	<img src="/public/images/content/bill.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Carnival: Greenfield, <br>
		Trivandrum</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
														<p class="asc_bottom_pera">Cancellation Available</p>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Carnival: Mall Of Travancore
		(Red Carpet)</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Dhanya Remya: Trivandrum</h3>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="#">06:30 PM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 st_calender_row_cont_last float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Ganga Cine house
		4K Dolby Atmos: Attingal</h3>
															<ul>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
														<p class="asc_bottom_pera">Cancellation Available</p>
													</div>
												</div>
											</div>
										</div>
										<div id="menu2" class="tab-pane fade">
											<div class="st_calender_contant_main_wrapper float_left">
												<div class="st_calender_row_cont float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Ariesplex SL Cinemas</h3>
															<ul>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
																<li>
																	<img src="/public/images/content/bill.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">10:00 PM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Carnival: Artech Mall,<br> 
		Trivandrum</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
																<li>
																	<img src="/public/images/content/bill.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Carnival: Greenfield, <br>
		Trivandrum</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
														<p class="asc_bottom_pera">Cancellation Available</p>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 st_calender_row_cont_last float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Ganga Cine house
		4K Dolby Atmos: Attingal</h3>
															<ul>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
														<p class="asc_bottom_pera">Cancellation Available</p>
													</div>
												</div>
											</div>
										</div>
										<div id="menu3" class="tab-pane fade">
											<div class="st_calender_contant_main_wrapper float_left">
												<div class="st_calender_row_cont float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Ariesplex SL Cinemas</h3>
															<ul>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
																<li>
																	<img src="/public/images/content/bill.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">10:00 PM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Carnival: Artech Mall,<br> 
		Trivandrum</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
																<li>
																	<img src="/public/images/content/bill.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Carnival: Greenfield, <br>
		Trivandrum</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
														<p class="asc_bottom_pera">Cancellation Available</p>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Carnival: Mall Of Travancore
		(Red Carpet)</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Dhanya Remya: Trivandrum</h3>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>JV Cinemas: Kattakkada</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
														<p class="asc_bottom_pera">Cancellation Available</p>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>MT Cineplex 4K Dolby 
		ATMOS: Pothencode</h3>
															<ul>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
														<p class="asc_bottom_pera">Cancellation Available</p>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>SPI: Kripa Cinemas - 
		Mahathma Gandhi Road</h3>
															<ul>
																<li>
																	<img src="/public/images/content/ticket.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 st_calender_row_cont_last float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Ganga Cine house
		4K Dolby Atmos: Attingal</h3>
															<ul>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="#">06:30 PM</a>
															</li>
														</ul>
														<p class="asc_bottom_pera">Cancellation Available</p>
													</div>
												</div>
											</div>
										</div>
										<div id="menu4" class="tab-pane fade">
											<div class="st_calender_contant_main_wrapper float_left">
												<div class="st_calender_row_cont float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Ariesplex SL Cinemas</h3>
															<ul>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
																<li>
																	<img src="/public/images/content/bill.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">10:00 PM</a>
															</li>
														</ul>
													</div>
												</div>
												<div class="st_calender_row_cont st_calender_row_cont2 st_calender_row_cont_last float_left">
													<div class="st_calender_asc">
														<div class="st_calen_asc_heart"><a href="#">	<i class="fa fa-heart"></i></a>
														</div>
														<div class="st_calen_asc_heart_cont">
															<h3>Ganga Cine house
		4K Dolby Atmos: Attingal</h3>
															<ul>
																<li>
																	<img src="/public/images/content/fast-food.png">
																</li>
															</ul>
														</div>
													</div>
													<div class="st_calen_asc_tecket_time_select">
														<ul>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">11:30 AM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">02:45 PM</a>
															</li>
															<li>	<span>
																<h4>Rs.160.00</h4>
																<p class="asc_pera1">Executive</p>
																<p class="asc_pera2">Filling Fast</p>
																</span>
																<a href="seat_booking.html">06:30 PM</a>
															</li>
														</ul>
														<p class="asc_bottom_pera">Cancellation Available</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>

	<!-- st login wrapper End -->
	<!--main js file start-->
	<!-- <script src="/public/js/jquery_min.js"></script> -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.js"></script>
	<script src="/public/js/modernizr.js"></script>
	<script src="/public/js/bootstrap.js"></script>
	<script src="/public/js/owl.carousel.js"></script>
	<script src="/public/js/jquery.dlmenu.js"></script>
	<script src="/public/js/jquery.sticky.js"></script>
	<script src="/public/js/jquery.nice-select.min.js"></script>
	<script src="/public/js/jquery.magnific-popup.js"></script>
	<script src="/public/js/jquery.bxslider.min.js"></script>
	<script src="/public/js/venobox/venobox.min.js"></script>

	<script src="/public/js/smothscroll_part1.js"></script>
	<script src="/public/js/smothscroll_part2.js"></script>
	<script src="/public/js/plugin/rs_slider/jquery.themepunch.revolution.min.js"></script>
	<script src="/public/js/plugin/rs_slider/jquery.themepunch.tools.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.addon.snow.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.actions.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.carousel.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.kenburn.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.layeranimation.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.migration.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.navigation.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.parallax.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.slideanims.min.js"></script>
	<script src="/public/js/plugin/rs_slider/revolution.extension.video.min.js"></script>
	<script src="/public/js/custom4.js"></script>

	<script src="/public/js/custom.js"></script>
	<script src="/public/js/dev.js"></script>
	<!--main js file end-->
	<%- script %>
</body>

</html>